<!DOCTYPE HTML>
<html>
	<head>
		<title>Free Programs Source Codes and Errors Fixing Tutorials - MacStockOfficial</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
			/* GLOBAL STYLES */
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .1em; /* Adjust as needed */
	animation: 
	typing 3.5s steps(40, end),
	blink-caret .75s step-end infinite;
  }
  
  
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: blue; }
  }
		</style>
	</head>
	<body>
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>MacStock Official</strong></a>
					<nav id="nav">
						<a class="navbl">Home</a>
						<a href="/posts" class="navbg">All Posts</a>
						<a href="https://www.youtube.com/channel/UCIXud9Ot8pfDQizzdmQ-FyQ" class="navbg" target="_blank">Subscribe For Free</a>
						<a href="https://macstockofficial.blogspot.com/2020/08/macstock-tech-gaming.html" target="_blank" class="navbg">Games</a>
						<a href="#contact" class="navbg">Contact Me</a>
						<a href="/search" class="navbg"><i class="icon fa-search"></i></a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
<div class="typewriter text-center" id="myTypewriter">
  <h1 class="text-center">MacStock Official</h1>
</div>
					<div class="flex">
						
						<div>
							<span class="icon fa-android"></span>
							<h3>Tech</h3>
							<p>Tech Related Contents are Here</p>
						</div>

						<div>
							<span class="icon fa-power-off"></span>
							<h3>Error Fixing</h3>
							<p>Many Types of Error Fixing Tutorials</p>
						</div>

						<div>
							<span class="icon fa-code"></span>
							<h3>Coding Programs</h3>
							<p>Many Types of Program</br >with Source Code</p>
						</div>

					</div>

					<footer>
						<a href="https://www.youtube.com/channel/UCIXud9Ot8pfDQizzdmQ-FyQ" class="button" target="_blank">Subscribe on Youtube</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="{{ url_for('static', filename='assets/images/python.jpg') }}" class="mil" alt="Pic 01" />
							</div>
							<header>
								<h3>Artificial Intelligence <br /> Using Python</h3>
							</header>
							<p>Python is an Awesome Language Which can be Used to<br /> do Many Types of Work like Creating a Simple Calculator<br /> to Creating an Advance Artificial Intelligence....</p>
							<footer>
								<a href="/post1" class="button">View Full Post</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="{{ url_for('static', filename='assets/images/java.jpg') }}" class="mil" alt="Pic 02" />
							</div>
							<header>
								<h3>Simple Calculator <br />Using Java</h3>
							</header>
							<p>In this Java Program You Can Divide, Multiply,<br /> Substract Or Add any type of Numbers. If <br /> You are a Advanced Java Programmer, Then It is....</p>
							<footer>
								<a href="/post2" class="button">View Full Post</a>
							</footer>
						</article>
					</div>
				</div>
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="{{ url_for('static', filename='assets/images/python.jpg') }}" class="mil" alt="Pic 01" />
							</div>
							<header>
								<h3>[SOLVED] Python SCRIPTS Folder<br /> is Empty and 'pip' Not Recognised</h3>
							</header>
							<p>In This Post, I have Managed to Show You How You Can<br /> Easily Fix The Problem : Script Folder is Empty<br />in Python. Basically, It is Not an Error....</p>
							<footer>
								<a href="/post3" class="button">View Full Post</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="{{ url_for('static', filename='assets/images/calc.jpg') }}" class="mil" alt="Pic 02" />
							</div>
							<header>
								<h3>Repeating Sum Calculator<br />Using Python</h3>
							</header>
							<p>In this Python Program You Can add as Much Numbers <br /> you want just by writing it and press enter  <br /> You can use it Unlimited times and it keeps....</p>
							<footer>
								<a href="/post4" class="button" >View Full Post</a>
							</footer>
							<div class="olp">
								<footer>
									<a href="/posts" class="olol">Load More Post -></a>
								</footer>
							</div>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3 id="contact">Contact Me</h3>

					<form action="/contact" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Enter Your Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Enter Your Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Enter Your Problem, Question or Message You Want To Send"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

				

					<div class="copyright">
						&copy; MacStockOfficial.com | All Rights Reserved 2020-2027
					</div>
					<h4 class="reddish">Follow Us On</h4>
					<div>
						<a href="https://twitter.com/KunalGu77984717"target = "_blank" class="pol"><i class="icon fa-twitter fa-3x"></i></a>
						<a href="https://www.youtube.com/channel/UCIXud9Ot8pfDQizzdmQ-FyQ" target = "_blank" class="yt"><i class="icon fa-youtube fa-3x"></i></a>
						<a href="https://github.com/Kunal767"target = "_blank" class="gt"><i class="icon fa-github fa-3x"></i></a>
					</div> 
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
			<script src="{{ url_for('static', filename='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js') }}"></script>
			<script>
				
				var messages=["Right Place For Coders and Techy","Source Codes Of Programs,Error Fixing and More","MacStock Official"];
var rank=0;

// Code for Chrome, Safari and Opera
document.getElementById("myTypewriter").addEventListener("webkitAnimationEnd", changeTxt);

// Standard syntax
document.getElementById("myTypewriter").addEventListener("animationend", changeTxt);

function changeTxt(e){
  _h1 = this.getElementsByTagName("h1")[0];
  _h1.style.webkitAnimation = 'none'; // set element animation to none
   setTimeout(function() { // you surely want a delay before the next message appears
      _h1.innerHTML=messages[rank];
      var speed =3.5*messages[rank].length/20; // adjust the speed (3.5 is the original speed, 20 is the original string length
      _h1.style.webkitAnimation = 'typing '+speed+'s steps(40, end), blink-caret .75s step-end infinite'; //  switch to the original set of animation      
      (rank===messages.length-1)?rank=0:rank++; // if you have displayed the last message from the array, go back to the first one, else go to next message
    }, 1000);
}
			</script>

	</body>
</html>