<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .pot{
            background-color: black;
            color: white;
            border: 4px solid black;
            border-radius: 34px;
        }
        .btd:hover{
            background-color: darkgrey;
            border-color: darkgrey;
        }
        .ol{
            background-color: black;
            color: white;
            border: 4px solid black;
            border-radius: 56px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
        }
        .oll{
            text-align: center;
            color: white;
            background-color: rgb(37, 224, 0);
            border: 5px solid rgb(37, 224, 0);
            border-radius: 34px;
        }
   
       </style>

 


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>[SOLVED] Python SCRIPTS Folder
    is Empty and 'pip' Not Recognised - Post View</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='assets/css/clean-blog.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />

</head>

<body>

  <!-- Navigation -->
  <header id="header">
    <div class="inner">
      <a href="/" class="logo"><strong>MacStock Official</strong></a>
      <nav id="nav">
        <a href="/" class="navbg">Home</a>
        <a href="/posts" class="navbg">All Posts</a>
        <a href="https://www.youtube.com/channel/UCIXud9Ot8pfDQizzdmQ-FyQ" class="navbg" target="_blank">Subscribe For Free</a>
        <a href="https://macstockofficial.blogspot.com/2020/08/macstock-tech-gaming.html" class="navbg" target="_blank">Games</a>
        <a href="#contact" class="navbg">Contact Me</a>
        <a href="/search" class="navbg"><i class="icon fa-search"></i></a>
      </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
  </header>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/images/py1.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1 class="hy">[SOLVED] Python SCRIPTS Folder
                is Empty and 'pip' Not Recognised</h1>
            <h2 class="subheading hy">Scripts Folder is Empty and 'pip' is not Recognised Error Showing After Setting Up Environment Variable</h2>
            <span class="meta">Developed and Designed By
              <a href="#">Kunal Gupta</a>
              on August 29, 2020</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>In This Post, I have Managed to Show You How You Can Easily Fix The Problem : Script Folder is Empty in Python</p>
              <p>Basically, It is Not an Error, It is a Bug Of Python which is Faced By a Lot of Users.</p>
              <h4>For Better Understanding You Should Watch the Full Video [Explained In Hindi Language] By Clicking the Watch Video Button Given Below</h4>
              <br>
              <div class="lol">
                <a href="https://www.youtube.com/watch?v=AOjpCBd8I0s" target="_blank">
                    <button class="btd">Watch Video</button>
                </a>
            </div>
              <h2 class="section-heading">Steps to Fix This Error :</h2>
              <p class="lol"><strong>Step 1</strong> : Uninstall Python By Going to The Folder Where You Put Python Installer File and Open It And Click Uninstall.</p>
              <p class="lol"><strong>Step 2</strong> : Click <strong>"Customize Installation"</strong> and Make Sure That <strong>"Add Python 3.8 to Path"</strong> Is Ticked </p>
              <p class="lol"><strong>Step 3</strong> : Check The Following Options :</p>
              <p class="pot"> &#10003 &#8209; Install For All Users</p>
              <p class="pot"> &#10003 &#8209; Associate Files With Python(Requires the Py Launcher)</p>
              <p class="pot"> &#10003 &#8209; Create Shortcuts For Installed Applications</p>
              <p class="pot"> &#10003 &#8209; Add Python To Environment Variables</p>
              <p class="pot"> &#10003 &#8209; Precompile Standard Library</p>
              <p class="lol"><strong>Step 4</strong> : Enter Any Drive D: Or E: Path <strong>But Not Enter C: Drive Path</strong> in the Customize Install Location Bar and Click Install Button</p>
              <p class="lol"><strong>Step 5</strong> : After Installation Completes, Click The Finish Button and Go to the Path You Put in The Install File Location</p>
              <p class="lol">Open Scripts Folder, You will See that <strong>"Easy_install.exe"</strong>is there.</p>
              <p class="lol"><strong>Step 6</strong> : Open Command Prompt And Run These Commands :</p>
              <p class="ol">easy_install pip</p>
              <p class="ol">easy_install webencodings</p>
              <p class="ol">easy_install requests</p>
              <p class="lol"><strong>Step 7</strong> : Go to Your Python Main Folder Where You Installed It and Open "lib". In "lib" open "site-packages". In "site-packages" open "requests-2.24.0-py3.8.egg" and Copy "requests" Folder From There.<br>
             <strong>"\Python 3.8\Lib\site-packages\requests-2.24.0-py3.8.egg"</strong> </p>
             <p class="lol"><strong>Step 8</strong> : Go to Site-packages and Open "pip" folder. In Pip open "_vendor" and Paste The Folder in There.<br>
            <strong>"\Python 3.8\Lib\site-packages\pip\_vendor"</strong></p>
            <p class="lol"><strong>Step 9</strong> : Go to Site Packages and Open "webencodings-0.5.1-py3.8.egg" folder and Copy "webencodings" folder from It.<br>
            <strong>"\Python 3.8\Lib\site-packages\webencodings-0.5.1-py3.8.egg"</strong></p>
            <p class="lol"><strong>Step 10</strong> : Paste The Folder in "_vendor" Folder of pip.</p>
            <p class="lol"><strong>Step 11</strong> : Go to Site Packages and Open "urllib3-1.25.10-py3.8.egg" folder and Copy "urllib3" folder from it<br>
            <strong>"\Python 3.8\Lib\site-packages\urllib3-1.25.10-py3.8.egg"</strong></p>
            <p class="lol"><strong>Step 12</strong> : Paste The Folder in "_vendor" Folder of pip.</p>
            <p class="oll">All Work Done Now Go and Use Pip.</p>

        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">

      <h3 id="contact">Contact Me</h3>

      <form action="/contact" method="post">

        <div class="field half first">
          <label for="name">Name</label>
          <input name="name" id="name" type="text" placeholder="Enter Your Name">
        </div>
        <div class="field half">
          <label for="email">Email</label>
          <input name="email" id="email" type="email" placeholder="Enter Your Email">
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="6" placeholder="Enter Your Problem, Question or Message You Want To Send"></textarea>
        </div>
        <ul class="actions">
          <li><input value="Send Message" class="button alt" type="submit"></li>
        </ul>
      </form>

    

      <div class="copyright">
        &copy; MacStockOfficial.com | All Rights Reserved 2020-2027
      </div>
      <h4 class="reddish">Follow Us On</h4>
      <div>
        <a href="https://twitter.com/KunalGu77984717"target = "_blank" class="pol"><i class="icon fa-twitter fa-3x"></i></a>
        <a href="https://www.youtube.com/channel/UCIXud9Ot8pfDQizzdmQ-FyQ" target = "_blank" class="yt"><i class="icon fa-youtube fa-3x"></i></a>
        <a href="https://github.com/Kunal767"target = "_blank" class="gt"><i class="icon fa-github fa-3x"></i></a>
      </div> 
    </div>
  </footer>

<!-- Scripts -->
  <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>
